@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,400;0,700;1,700&family=Montserrat:ital,wght@0,400;0,700;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --aside-width: 40vw;
    --form-padding: 5vw;
}

body {

    color: rgb(51, 51, 51);
    background-color: rgb(255, 246, 246);

    line-height: 1.25;
    font-family: 'Montserrat', sans-serif;
}

em {
    color: rgb(139, 0, 65);
}

a {
    text-decoration: none;
    color: black;
}

ul li {
    list-style: none;
}

h1,
h2 {
    margin-bottom: 2rem;
}

h1 {
    font-size: 1.7rem;
}

h2 {
    font-size: 1.4rem;
}

header h1:last-child {
    margin-bottom: 4rem;
}



h1.same {
    margin-bottom: 0;
}

.wrapper {
    position: relative;
    z-index: 1;

    margin-left: var(--aside-width);

    box-shadow: 13px 0 10px -10px inset rgb(78, 78, 78);

    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100vh;
}

.wrapper h2 {
    padding-top: 20px;
}

header {
    padding: 0 var(--form-padding);
}

/*form styling*/
input{
    outline: none;
}

.form-row {
    margin-bottom: 40px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10%;
}

.form-row input[type='text'],
.form-row input[type='email'],
.form-row input[type="password"],
.form-row input[type="phone"] {
    background-color: #FFFFFF;
    border: 1px solid #D6D9DC;
    border-radius: 3px;

    width: 100%;
    padding: 0.5em;
    font-size: 1rem;
}

.single-input {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    font-family: 'Alegreya Sans', sans-serif;

}

.form-row label {
    padding-top: 6px;

    font-size: 0.9rem;
    letter-spacing: 0.5px;
    font-weight: 700;
}

.login-par {
    margin-left: 2em;
}

.login-par .login {
    font-weight: 700;
    font-size: 1.2rem;

    padding-left: 0.2em;
}

input~span {
    position: relative;
}

/*button*/
.form-button {
    margin-top: 5vh;
}

.form-button button {

    font-family: 'Montserrat', sans-serif;
    padding: 0.8em 1.8em;
    border: 1px outset gray;
    border-radius: 15px;

    font-size: 1.5rem;
    font-weight: 700;

    color: whitesmoke;
    background-color: rgb(223, 0, 104);
    box-shadow: 3px 3px rgb(141, 0, 66);

}

.form-button button:hover {
    background-color: rgb(255, 0, 119);
    border: 1px solid rgb(141, 0, 66);
    box-shadow: 3px 3px rgb(141, 0, 66);
}

/*hover & focus & active*/
.form-row input:hover,
.form-row input:focus{
    border: 1px solid rgb(180, 78, 126);
    box-shadow: 2px 2px rgb(141, 0, 66);
}

.form-row input:hover+label,
.form-row input:focus+label{
    color: rgb(141, 0, 66);
}

a:hover {
    color: rgb(199, 0, 93);
}

.form-row input:placeholder-shown+label {
    position: relative;

    top: -32px;
    left: 12px;

    transition: 0.3s ease all;
}

.form-row input:placeholder-shown:hover+label,
.form-row input:placeholder-shown:focus+label {

    top: 0;
    left: 0;
}

/*invalid*/
.form-row input[type='email']:not(:placeholder-shown):invalid {
    border: 1px solid red;
}

/*valid*/
.form-row input[type='email']:not(:placeholder-shown):valid,
.form-row input[type='text']:not(:placeholder-shown):valid{
    border: 1px solid green;
}

/*required*/
.form-row input:placeholder-shown:required~span::after{
    font-size: 0.8rem;
    font-weight: 700;

    position: absolute;
    content: "REQUIRED";
    color: whitesmoke;
    background-color: rgb(255, 0, 64); 
    padding: 2px 6px;
    top: -52px;
    right: -12px;

    transition: 0.3s ease all;
}

.form-row input:placeholder-shown:required:focus~span::after,
.form-row input:placeholder-shown:required:hover~span::after {

    top: -75px;
    right: 0;

}

.form-row input[type="email"]:not(:placeholder-shown):invalid:required~span::after{
    font-size: 0.8rem;
    font-weight: 700;

    position: absolute;
    content: "✖ NOT A VALID ADDRESS";
    color: red;
    background-color:  rgb(252, 252, 252);
    top: -72px;
    right: 1px;
}

.form-row input[type='email']:not(:placeholder-shown):invalid:required:focus,
.form-row input[type='email']:not(:placeholder-shown):invalid:required:hover {
    box-shadow: 2px 2px red;
}

.form-row input[type='email']:not(:placeholder-shown):invalid:required+label {
    color: red;
}

.form-row input[type='email']:not(:placeholder-shown):valid:required~span::after,
.form-row input[type='text']:not(:placeholder-shown):valid:required~span::after{
    font-size: 1.2rem;
    font-weight: 700;

    position: absolute;
    content: "✓";
    color: green;
    background-color:  rgb(252, 252, 252);
    top: -75px;
    right: 1px;
}

.form-row input[type='email']:not(:placeholder-shown):valid:required:focus,
.form-row input[type='email']:not(:placeholder-shown):valid:required:hover,
.form-row input[type='text']:not(:placeholder-shown):valid:required:focus,
.form-row input[type='text']:not(:placeholder-shown):valid:required:hover  {
    box-shadow: 2px 2px green;
}

.form-row input[type='email']:not(:placeholder-shown):valid:required+label,
.form-row input[type='text']:not(:placeholder-shown):valid:required+label{
    color: green;
}

/*password error or check*/
.form-row input.check~span::after{
    font-size: 1.2rem;
    font-weight: 700;

    position: absolute;
    content: "✓";
    color: green;
    background-color:  rgb(252, 252, 252);
    top: -75px;
    right: 1px;
}

.form-row input.check{
    border: 1px solid green;
}

.form-row input.check:hover,
.form-row input.check:focus{
    box-shadow: 2px 2px green;
}

.form-row input.check+label{
    color: green;
}

.form-row input.error~span::after{
    font-size: 0.8rem;
    font-weight: 700;

    position: absolute;
    content: "✖ PASSWORDS DO NOT MATCH";
    color: red;
    background-color:  rgb(252, 252, 252);
    top: -72px;
    right: 1px;
}

.form-row input.error{
    border: 1px solid red;
}

.form-row input.error:hover,
.form-row input.error:focus{
    box-shadow: 2px 2px red;
}

.form-row input.error+label{
    color: red;
}

/*padding for the form*/
section#form-wrapper>* {
    padding: 0 var(--form-padding);
}

section #form-no-button-wrapper {
    padding-top: 0.2rem;

    background-color: rgb(252, 252, 252);
    border-bottom: 1px solid gray;
    box-shadow: 0 4px 5px gray;
}

/*aside image section*/
aside {
    width: var(--aside-width);
    height: 100vh;

    position: fixed;
    top: 0;

    background-color: rgb(222, 0, 90);

    display: flex;
    align-items: center;
}

#aside-image {
    height: auto;
    width: var(--aside-width);
}

.citation {
    position: absolute;
    bottom: 1.5vh;

    left: 0;
    right: 0;
    margin: auto;

    color: whitesmoke;
    font-size: 0.8rem;
    text-align: center;
}

.citation>* {
    color: whitesmoke;
}


aside #logo {

    position: absolute;
    top: 25%;

    left: 0;
    right: 0;
    margin: auto;

    max-height: 25vh;
    width: 100%;

    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);

    background-color: rgba(0, 0, 0, 0.4);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

aside #logo img {
    height: auto;
    width: auto;
}

aside #logo .logo-writing {
    font-size: 3rem;
    font-weight: 900;

    color: white;

}