:root{
    --aside-width: 40vw;
    --form-padding: 5vw;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    color: rgb(51, 51, 51);
    background-color:rgb(243, 243, 243);

    line-height: 1.25;
}

a {
    text-decoration: none;
    color: black;
}

ul li {
    list-style: none;
}

h1,
h2 {
    margin-bottom: 1rem;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.4rem;
}

header h1:last-child{
    margin-bottom: 3rem;
}

h1.same {
    margin-bottom: 0;
}

.wrapper{
    margin-left: var(--aside-width);

    border-left: 1px solid rgb(223, 0, 104);
    box-shadow: 3px 0 6px inset rgb(78, 78, 78);

    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100vh;
}

header{
    padding: 0 var(--form-padding);
}

section#form-wrapper>*{
    padding: 0 var(--form-padding);
}

section #form-no-button-wrapper{

    position: relative;
    z-index: -1;

    background-color: rgb(247, 247, 247);
    border-bottom: 1px solid gray;
    box-shadow: 0 4px 5px gray;
}

/*aside image section*/
aside {
    width: var(--aside-width);
    height: 100vh;

    position: fixed;
    top: 0;

    background-color: rgb(222, 0, 90);

    display: flex;
    align-items: center;
}

#aside-image {
    height: auto;
    width: var(--aside-width);
}

#citation {
    position: absolute;
    bottom: 1.5vh;

    left: 0;
    right: 0;
    margin: auto;

    color: whitesmoke;
    text-align: center;
}